@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Montserrat:wght@300;400;800&display=swap');

body {
	background-color: #22272e;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}